/*  ---- COLORS ---- */

/* BACKGROUNDS */

$nav: rgba(28, 56, 96, 1.0);
$blue: rgba(28, 56, 96, 1.0);
$bg-how: rgba(237, 249, 255, 1.0);
$bg-form: rgba(237, 249, 255, 1.0);
$bg-services: rgba(255, 255, 255, 1.0);
$footer: rgba(40, 40, 40, 1.0);

/* TYPOGRAPHY */

$brand: rgba(38, 134, 224, 1.0);
$p: rgba(121, 121, 121, 1.0);
$dark-grey: rgba(39, 39, 39, 1.0);
$grey-54: rgba(54, 54, 54, 1.0);
$link: rgba(111, 111, 111, 1.0);
$link-hover: rgba(26, 155, 252, 1.0);
$services-text: rgba(255, 255, 255, 1.0);

/* BUTTONS */

$button: rgba(26, 155, 250, 1.0);
$hover: rgba(46, 168, 255, 1.0);
$shadow: rgba(0, 0, 0, 0.2);
$btn-text: rgba(255, 255, 255, 1.0);
